
<%- include( './partials/header.ejs' ) %>

    <div class="home">

        <div class="smoothie">

            <img src="/smoothie.png" alt="">

        </div>

        <div class="heading">

            <h2>Smoothie Recipes</h2>
            <h3>By Ninjas For Ninjas</h3>

            <a href="/smoothies" class="btn">View Recipes</a>

        </div>

    </div>

<%- include( './partials/footer.ejs' ) %>