
<!--
    // 1 -
    // and after we bring in the partials and add the h1 tag, let go to back to the
    // so now we have our views which we are rendering in the authController.js file and
    // we have all of our controller functions which we are registering for each route and
    // the only thing left to do is register these routes in our application so let's go back
    // to the app.js file 2 -
-->

<%- include( './partials/header.ejs' ) %>

    <h1>Log In</h1>

<%- include( './partials/footer.ejs' ) %>