
<!--
    // 1 -
    // and after we bring in the partials and add the h1 tag, let go to the login.ejs file 1 -
-->

<%- include( './partials/header.ejs' ) %>

    <h1>Sign Up</h1>

<%- include( './partials/footer.ejs' ) %>